html,body{
	margin: 0px;
	height: 100%;
}

#cover{
	background: #222 url('../img/stars.jpg')  center no-repeat;
	height: 100%;
	background-size: cover;
	color: white;
	text-align: center;
	display: flex;
	align-items:  center;
}

#cover-caption{
	width: 100%;
}